@use '@/styles/abstracts/' as *;

.section {
    position:sticky;
    top: rem(64);

    background-color: white;
    // background-color: red;
    // background-color: $color-background-blur;
    // backdrop-filter: blur(2rem);

    z-index: 100;
    // border-top: 1px solid $color-gray-200;

    &.borderBottom {
        z-index: 50;

        border-bottom: 1px solid $color-gray-200;
        border-top: 1px solid $color-gray-200;
    }
}

.xFrame {
    @include xFrame;
}

.yFrame {


    height: rem(144);

    @include flexCenterX;

    transition: height $anim-duration-default; 
    transition-timing-function: $anim-timing-ease-out;

    &Scrolled {
        height: rem(80);
        // transform: scaleY(2);
    }
}


.header {
    // background-color: red;
    width: rem(820);
    margin: auto;
    // padding: 0 rem(32);

    @include flexCenterX;
    justify-content: space-between;


    .left {
        @include flexCenterX;

        .iconFrame {
            // display: inline-block;
            margin-right: rem(8);
            border-radius: rem(8);
            overflow: hidden;
        }
        .subtitle {
            color: rgb(0, 0, 0);
        }
        .titlesTop {
            @include flexCenterX;
            .title {
                margin-right: rem(8);
            }

            .badgesFrame {
                @include flexCenterX;
                gap: rem(4);
            }
        }


    }

    .right {
        @include flexCenterX;
        gap: 8px;
    }
}



.gray {
    color: $color-gray-500;
}














// .testButton {
//     padding: 0px 16px;
//     border-radius: 6px;

//     border: solid 1.33px rgba(0, 0, 0, 0.08);
//     // box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.08) ;
//     // background-color: aqua;

//     height: 40px;
//     display: flex;
//     align-items: center;
 
//     transition-property: box-shadow border;
//     transition-duration: .15s;
//     transition-timing-function: ease;

//     &:hover {
//         border: solid 1.33px rgba(0, 0, 0, 0.61);
//         // box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.61) ;
//     }
// }

// // py-2 px-4 rounded-[6px] text-lg text-white bg-blue-500 font-medium