@use '@/styles/abstracts/' as *;

.section {
    position:sticky;
    top: 64px;

    background-color: rgba(255, 255, 255, 0.85);
    backdrop-filter: blur(2rem);

    z-index: 100;

    &.borderBottom {
        z-index: 50;
        border-bottom: 1px solid #e5e7eb;
    }
}

.xFrame {
    @include xFrame;
}

.yFrame {


    height: 144px;

    @include flexCenterX;

    transition: height .382s ; 
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);

    &Scrolled {
        height: 96px;
    }
}


.header {
    // background-color: red;
    width: rem(768);
    margin: auto;
    padding: 0 rem(32);

    @include flexCenterX;
    justify-content: space-between;


    .left {
        @include flexCenterX;

        .iconFrame {
            // display: inline-block;
            margin-right: rem(8);
            border-radius: rem(8);
            overflow: hidden;
        }
        .subtitle {
            color: rgb(59, 59, 59);
        }
        .titlesTop {
            @include flexCenterX;
            .title {
                margin-right: rem(8);
            }

            .badgesFrame {
                @include flexCenterX;
                gap: rem(4);
            }
        }


    }

    .right {
        @include flexCenterX;
        gap: 8px;
    }
}



// .testButton {
//     padding: 0px 16px;
//     border-radius: 6px;

//     border: solid 1.33px rgba(0, 0, 0, 0.08);
//     // box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.08) ;
//     // background-color: aqua;

//     height: 40px;
//     display: flex;
//     align-items: center;
 
//     transition-property: box-shadow border;
//     transition-duration: .15s;
//     transition-timing-function: ease;

//     &:hover {
//         border: solid 1.33px rgba(0, 0, 0, 0.61);
//         // box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.61) ;
//     }
// }

// // py-2 px-4 rounded-[6px] text-lg text-white bg-blue-500 font-medium