@use '@/styles/abstracts/' as *;



.progressBarContainer {

    position: absolute;
    // background-color: red;
    height: rem(4);

    left: $radius-xl;
    right: $radius-xl;


}
.progressBar {
    // position: absolute;

    background-color: $color-primary;
    height: 100%;
    // // width: 100%;
    // left: $radius-xl;
    // right: -60px;
    // top: 0;
}