
@use '@/styles/abstracts' as *;


.section {
    // background-color: red;
    margin-bottom: rem(32);
}

.xFrame {
    @include xFrame;
}


.canvasFrame {

    margin: auto;
    max-width: 1440px;
    // margin: auto;
    position: relative;

    // display: block;
    height: 720px;

    border-radius: $radius-xl;
    overflow: hidden;

    background-color: $color-gray-900;
}

.unityCanvas {
    @include absCenter;

}


    // display: flex;
    // justify-content: center;
    // margin: 0 32px;

.bottomBar {
    margin: rem(16) auto;

    display: flex;
    justify-content: center;
    gap: 16px;
}