
// To use: @include [mixin]
@use './functions' as *;



@mixin absCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin flexCenterX {
    display: flex;
    align-items: center;
}



@mixin flexCenterXY {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin xFrame {
    margin: 0 rem(32);

    // @include respond(tablet-portrait) {
    //     margin: 0 rem(16);
    // }
}

@mixin xFrameWide {
    margin: 0 rem(16);

    // @include respond(tablet-portrait) {
    //     margin: 0 rem(16);
    // }
}












// MEDIA QUERY MANAGER
// 0 - 600px:       Phone
// 600 - 900px:     Tablet Portrait
// 900 - 1200px:    Tablet Landscape
// 1200 - 1800px:   Base
// 1800px+:         Big Desktop

// $breakpoint argument choices:
// phone
// tablet-portrait
// tablet-landscape
// big-desktop

// @mixin respond-phone {
//     @media (max-width: 600px) {@content};
// }

// 1em = 16px

// ORDER: Base + typography > general layout + grid > page layout > components

@mixin respond($breakpoint) {



    @if $breakpoint == phone {
        @media (max-width: 560px) {@content};     //600px
    }

    
    @if $breakpoint == tablet-portrait {
        @media (max-width: 768px) {@content};    //900px
    }




    @if $breakpoint == tablet-landscape {
        @media (max-width: 1024px) {@content};  
    }




    @if $breakpoint == big-desktop {
        @media (min-width: 1800px) {@content};       //1800px
    }


}





