

@use './functions' as *;





// Colors
$color-primary: #ffb218;
$color-gray-200: #e5e7eb;

$color-gray-500: #6b7280;

$color-gray-700: #374151;

$color-gray-900: #111827;




$color-background-blur: rgba(255, 255, 255, 0.9);





// Border Radius
$radius-md: rem(8);
$radius-lg: rem(16);
$radius-xl: rem(24);



// Transition Duration
$duration-200: 200ms; 

// Transition Timing Function
$bouncy: cubic-bezier(0.34, 1.56, 0.64, 1);


// Media Query

$screen-sm: rem(640); // From Tailwind
$screen-md: rem(768); // From Tailwind


$screen-lg: rem(1024); // From Tailwind


$screen-xl: rem(1280); // From Tailwind
$screen-2xl: rem(1536); // From Tailwind

$screen-4xl: rem(2560);