@tailwind base;
@tailwind components;
@tailwind utilities;


/* html {
font-size: 62.5%;
} */

@font-face {
    font-family: nmtl;
    src: url("../../public/fonts/PPNeueMontreal-Book.otf") format("opentype");
  }

@font-face {
    font-family: Inter;
    src: url("../../public/fonts/Inter-VariableFont_slnt\,wght.ttf") format("truetype");
  }







