@use '@/styles/abstracts/' as *;


.heroSection {
    
    padding: rem(96) $spacing-5 0;
    text-align: justify;


}

.seperator {
    display: flex;
    justify-content: space-between;

    margin: $spacing-5;

    padding-bottom: $spacing-1;

    // &::after{
    //     // display: block;
    //     content: '';
    //     width: 100%;
        
    // }
    border-bottom: solid 1px;

    p {
        &:nth-child(2) {
            text-align: right;
        }
    }
}

.coverSection {

    display: grid;
    padding: $spacing-3;

    .video {
        transition: border-radius .2s;
        border-radius: $radius-lg;
        &:hover {
            border-radius: $radius-3xl;
        }
    }

    .gridItem {
        padding-top: 56.25%;
        position: relative;
        margin-bottom: rem(16);

        .card {

            .postImageFrame {
                border-radius: $radius-lg;
                overflow: hidden;
        
                .nextImageContainer {
                    // position: relative;
                    // width: 100%;
                    // height: 100%;

        
                    .postImage {
                        border-radius: $radius-lg;
                        overflow: hidden;
                        object-fit: cover;
                    }
        
                }
            }
        }
    }


}

.introSection {
    padding: $spacing-5;
}











.section {

}

.xFrame {

}

.yFrame {

}

.productGrid {
    display: grid;
    gap: rem(16);
    // grid-template-columns: repeat(auto-fill, minmax(272px, 1fr));
    grid-template-columns: repeat(2, 1fr);

    padding: rem(16);
    // padding-block: rem(16);
    // margin-inline: auto;

    .product {
        border-radius: rem(16);
        overflow: hidden;

        height: 80%;
        // width:2560px;
        // height:60%;

        // position: relative;
  



    }

    .gridColSpan1 {
        grid-column: span 1;
    }

    .gridColSpan2 {
        grid-column: span 2;
    }
}

.video {
    width: 2560px;
    // @include absCenter;
    // margin-top: -200px;


}


.productA {
    // margin-top: -150px;
    border-radius: rem(16);
    overflow: hidden;

    // width:2560px;
    // height:60%;

    // position: relative;




}