@use '@/styles/abstracts/' as *;

.section {

}

.xFrame {

}

.yFrame {

}

.productGrid {
    display: grid;
    gap: rem(16);
    // grid-template-columns: repeat(auto-fill, minmax(272px, 1fr));
    grid-template-columns: repeat(2, 1fr);

    padding: rem(16);
    // padding-block: rem(16);
    // margin-inline: auto;

    .product {
        border-radius: rem(16);
        overflow: hidden;

        height: 80%;
        // width:2560px;
        // height:60%;

        // position: relative;
  



    }

    .gridColSpan1 {
        grid-column: span 1;
    }

    .gridColSpan2 {
        grid-column: span 2;
    }
}

.video {
    width: 2560px;
    // @include absCenter;
    // margin-top: -200px;


}


.productA {
    // margin-top: -150px;
    border-radius: rem(16);
    overflow: hidden;

    // width:2560px;
    // height:60%;

    // position: relative;




}