@use '@/styles/abstracts/' as *;

.section {

}

.xFrame {

}

.yFrame {

}

.productGrid {
    display: grid;
    gap: rem(16);
    grid-template-columns: repeat(2, 1fr);

    padding: rem(16);
    // padding-block: rem(16);
    // margin-inline: auto;

    .product {
        border-radius: rem(16);
        // overflow: hidden;
    }

    .gridColSpan1 {
        grid-column: span 1;
    }

    .gridColSpan2 {
        grid-column: span 2;
    }
}