


.badge {
    // display: block;
    display: flex;
    align-items: center;
    height: 20px;
    padding: 0 8px;


    border-radius: 4px;

    color: rgb(80, 80, 80);
    background-color: rgb(238, 238, 238);
}