@use '../styles/abstracts/' as *;



.badge {
    // display: block;
    @include flexCenterX;

    height: 20px;
    padding: 0 8px;


    border-radius: 3px;
    // border: solid 1px white;

    color: rgb(80, 80, 80);
    background-color: rgb(241, 241, 241);
}