



.button {
transition-property: box-shadow border;
transition-duration: .15s;
transition-timing-function: ease;

display: flex;
align-items: center;

// background-color: red;

    &.sm {
        // background-color: red;
        height: 24px;
        padding: 8px;
        border-radius: 4px;
        
    }

    &.lg {
        height: 40px;
        padding: 16px;
        border-radius: 6px;
    }



    &.noSize {
        border: 8px solid blue;
    }








    &.ghost {
        // background-color: red;
        border: 1px solid transparent;
        // border: 1px solid #e5e7eb;

        &:hover {
            border: 1px solid #e5e7eb;

        }
    }

    &.outlined {

        // border: 1px solid #e5e7eb;

        // box-shadow: rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;

        border: 1px solid #e5e7eb;
        box-shadow: 0 0 1px 0 #e5e7eb inset, 0 0 1px 0 #e5e7eb;


        &:hover {
            // border: 1px solid black;

            // box-shadow: rgba(0, 0, 0, 0.61) 0px 0px 0px 1px;

            border: 1px solid black;
            box-shadow: 0 0 1px 0 black inset, 0 0 1px 0 black;
        }
    }

    &.noKind {
        background-color: red;
    }


&:hover {
    border: 1px solid #e5e7eb;
    // margin:-1px;
}
    
}