


.processGrid {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
}



.card {
    width: 400px;
    height: 500px;
    background-color: gainsboro;
    border-radius: 16px;
}