


.sliderFrame {
    height: 24px;
    display: flex;
    // background-color: red;
    // width: 100px;

    display: flex;
    align-items: center;
    gap: 4px;

    padding: 0 8px;
}


.slider {
    position: relative;
    appearance: none;

    width: 100px;
    height: 1px;
    border-radius: 10px;
    // height: 1em;
    background: rgb(83, 83, 83);
    // border: 1px solid black;
    // background-image: linear-gradient(purple, purple);
    // background-repeat: no-repeat;

    &::before {
        background: black;
        content: "";
        display: inline-block;
        height: 11px;
        left: 50%;
        position: absolute;
        top: -5px;
        transform: translate(-50%);
        width: 1px;
    }
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;

    width: 6px;
    height: 12px;
    border-radius: 2px; 
    background-color: black;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;

    opacity: 0;
    width: 12px;
    height: 12px;
    border-radius: 50%; 
    background-color: black;
    cursor: pointer;
  }
