@use '@/styles/abstracts' as *;


@font-face {
  font-family: Inter;
  // src: url("../../../public/fonts/Inter-VariableFont_slnt\,wght.ttf") format("truetype");
  src: url('/assets/fonts/Inter-VariableFont_slnt\,wght.ttf') format('truetype')
}

@font-face {
    font-family: nmtl;
    src: url('/assets/fonts/PPNeueMontreal-Book.otf') format('opentype');
  }



// 100 Thin (Hairline)
// 200 Extra Light (Ultra Light)
// 300 Light

// 400 Normal (Regular)

// 500 Medium
// 600 Semi Bold (Demi Bold)
// 700 Bold

// 800 Extra Bold (Ultra Bold)
// 900 Black (Heavy)
// 950 Extra Black (Ultra Black) 


.font-medium {
  font-weight: 500;
}

// .font-semibold {
//   font-weight: 600;
// }



.font-brand {
  font-family: 'nmtl';
  font-weight: 400;
  font-style: normal;

  font-size: rem(24);
  line-height: rem(24);
  // letter-spacing: -.02em;
}

.font-primary {
  font-family: 'Inter';
  font-weight: 400;
  font-style: normal;
}

.tracking-normal {
  letter-spacing: 0em;
}

.tracking-tight {
  letter-spacing: -.02em;
}


.text-4xl {
  font-size: rem(144);
  line-height: rem(160);
  letter-spacing: -.04em;
}

@mixin text-3xl {
  font-size: rem(40);
  line-height: rem(60);
  letter-spacing: -.02em;
}



@mixin text-2xl {
  font-size: rem(30);
  line-height: rem(44);
  letter-spacing: -.02em;
}

.text-2xl {
  @include text-2xl;
}



  .text-xl {
    font-size: rem(24);
    line-height: rem(32);
    letter-spacing: -.02em;
  }


.text-lg {
  font-size: rem(20);
  line-height: rem(24);
  letter-spacing: -.02em;
}



///////////////////////////////////////////////// THIS IS BASE 
// .text-base {
//   font-size: rem(13);
//   line-height: rem(24);
//   letter-spacing: -.02em;
// }



.text-base-plus {
  font-size: rem(18);
  line-height: rem(28);
  letter-spacing: -.02em;
}

.text-base {
  font-size: rem(16);
  line-height: rem(28);
  letter-spacing: -.02em;
}

.text-base-minus {
  font-size: rem(14);
  line-height: rem(24);
  letter-spacing: -.02em;
}





.text-sm {
  font-size: rem(13);
  line-height: rem(24);
  letter-spacing: -.02em;
}


.text-xs {
  font-size: rem(11);
  line-height: rem(16);
  letter-spacing: -.02em;
}









.text-hero {
  font-size: rem(144);
  line-height: rem(172);
  letter-spacing: -.02em;

  @media (max-width: 1504px) {
    font-size: rem(112);
    line-height: rem(134);
  }

  @media (max-width: 1164px) {
    font-size: rem(88);
    line-height: rem(106);
  }

  @media (max-width: 940px) {
    font-size: rem(70);
    line-height: rem(84);
  }

  @include respond(phone) {
    font-size: rem(60);
    line-height: rem(72);
  }

  @include respond(phone-sm) {
    font-size: rem(48);
    line-height: rem(58);
  }
}
