



.button {
transition-property: box-shadow border;
transition-duration: .15s;
transition-timing-function: ease;

display: flex;
align-items: center;

// cursor: default;
cursor: pointer;
span {
    cursor: pointer;
}

// background-color: red;

    &.sm {
        // background-color: red;
        height: 24px;
        padding: 8px 10px;
        border-radius: 4px;
        
    }

    &.lg {
        height: 40px;
        padding: 16px;
        border-radius: 6px;
    }



    &.noSize {
        border: 8px solid blue;
    }








    &.ghost {
        // background-color: red;
        border: 1px solid transparent;
        // border: 1px solid #e5e7eb;

        &:hover {
            border: 1px solid #e5e7eb;

        }
    }
    &.contained {
        background-color: black;
        color: white;
        &:hover {
            background-color: darken($color: white, $amount: 75%);
            // filter: brightness(85%);
        }

    }

    &.outlined {

        // border: 1px solid #e5e7eb;

        // box-shadow: rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
        // background-color: red;
        border: 1px solid #e5e7eb;
        box-shadow: 0 0 1px 0 #e5e7eb inset, 0 0 1px 0 #e5e7eb;


        &:hover {
            // border: 1px solid black;

            // box-shadow: rgba(0, 0, 0, 0.61) 0px 0px 0px 1px;

            border: 1px solid black;
            box-shadow: 0 0 1px 0 black inset, 0 0 1px 0 black;
        }
    }

    &.danger {
        // color: rgb(218, 30, 40);
        // border: 1px solid rgb(218, 30, 40);
        // box-shadow: 0 0 1px 0 rgb(218, 30, 40) inset, 0 0 1px 0 rgb(218, 30, 40);

        color: white;
        background-color: rgb(218, 30, 40);

        &:hover {
            background-color: darken($color: rgb(218, 30, 40), $amount: 5%);
            // filter: brightness(85%);
        }
    }

    &.noKind {
        background-color: red;
    }


// &:hover {
//     border: 1px solid #e5e7eb;
//     // margin:-1px;
// }
    
}