@use '@/styles/abstracts/' as *;


.section {
    margin-top: rem(64);
}

.xFrame {
    @include xFrame;
}

.yFrame {
}











.topSection {
    // background-color: red;
}

.yFrameTop {
    padding: rem(32) 0 ;
}

.topSectionGrid {


    display: grid;
    gap: rem(16);
    grid-template-columns: repeat(8, 1fr);  // fr stands for fraction
    // grid-template-rows: auto;
    // background-color: red;

    // @include respond(tablet-portrait) {
    //     grid-template-columns: repeat(4, 1fr);  // fr stands for fraction
    // }

    // @include respond(phone) {
    //     grid-template-columns: repeat(2, 1fr);  // fr stands for fraction
    // }

}

.gridColSpan4 {
    grid-column: span 4;

    @include respond(tablet-portrait) {
        grid-column: span 8;
    }

    @include respond(phone) {
        grid-column: span 8;
    }
}

.gridColSpan2 {
    grid-column: span 2;

    @include respond(tablet-portrait) {
        grid-column: span 4;
    }

        @include respond(phone) {
        grid-column: span 8;
    }

}

.menuTitle {
    // border-bottom: 2px solid black;
    padding: 0 0 rem(16) 0;

    @include respond(phone) {
        // grid-column: span 8;
        display: flex;
        justify-content: center;
    }
}


.menuList {
    @include respond(phone) {
        // grid-column: span 8;
        padding: 0 0 rem(16) 0;
    }
}


.menuListItem {
    &:not(:last-child) {
        margin: 0 0 rem(8) 0;
    }

    @include respond(phone) {
        display: flex;
        justify-content: center;
    }
}
















.bottomSection {
    // background-color: blue;
}
.yFrameBottom {
    padding: rem(12) 0;
    @include respond(phone) {
        padding: rem(16) 0;
    }
}

.bottomSectionGrid {

    display: grid;
    gap: rem(16);
    grid-template-columns: repeat(8, 1fr);


    // align-items: center;
    // justify-content: end;
    // @include respond(phone) {
    //     grid-template-columns: repeat(2, 1fr);

    // }
}


.yearSection {
    // height: rem(32);
    grid-column: span 4;
    display: flex;
    align-items: center;

    @include respond(phone) {
        // margin-bottom: rem(8);
        grid-column: span 8;

        justify-content: center;

    }
}

.rightsSection {
    // grid-column: 3 / 8;
    grid-column: span 3;
    display: flex;
    align-items: center;

    @include respond(phone) {

        grid-column: span 8;

        justify-content: center;

    }
    // background-color: red;
}

.buttonSection {
    // grid-column: 8 / 10;
    grid-column: span 1;
    display: flex;
    align-items: center;

    justify-content: right;

    @include respond(phone) {
        grid-column: span 8;

        justify-content: center;
        margin: rem(16) 0 rem(32) ;
    }
}


.footerBaseButton{
    // background-color: red;
    // border: 1px solid $color-gray-200;
    // box-shadow: 0 0 0 1px $color-gray-200;
    // display: flex;
    // justify-content: right;

    width: rem(40);
    height: rem(40);

    @include flexCenterXY;
    // padding: rem(3);

    // .icon {
    //     @include flexCenterXY;
    // }

    // @include absCenter;

    border-radius: 50%;
    // justify-content: end;
    // margin-left: auto;

    transition: background-color $anim-duration-fast linear;

    .buttonIcon {
        // transition: stroke $anim-duration-fast linear;
        stroke: black;
    }

    &:hover {
        background-color: $color-primary;

        // .buttonIcon {
        //     stroke: white;
        // }
    }

}

